body {

	background: url(images/bg-green.gif) #288020 repeat-x;

	}

#logo {

	background: url(images/logo-green.png) no-repeat;

	}

#logo.blank {

	background: url(images/logo-green-blank.png) no-repeat;

	}

h2 {

	color: #3a5801;

	}

#when, .textwidget {

	color: #adff9f;

	}