body {
	background: url(images/bg-red.gif) #8f0d00 repeat-x;
	}
#logo {
	background: url(images/logo-red.png) no-repeat;
	}
#logo.blank {
	background: url(images/logo-red-blank.png) no-repeat;
	}
h2 {
	color: #ed8181;
	}
#when, .textwidget {
	color: #f7aaaa;
	}