
body {
	margin: 0;
	padding: 0;
	padding-left:15px;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.4em; 
	background-color: #000;
	background-repeat: repeat-x;
	background-position: top;
	background-image: url(../images/templatemo_body.jpg)
}

#result ul{
	margin: 0;
	padding: 0;
	list-style-type:none;
}

#result p{
	text-align:left;
	padding-left: 170px;
	margin-top: -32px;
}

#result ul li{
	text-decoration: none;
	border: 2px solid #000;
	width: 500px;
	height: 45px;
	margin-top:10px;
	margin-bottom:10px;
	color: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	padding-right:0px;
	margin-left:-5px;
	background: #5c6063;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 );
}

#result ul li:hover{
	border: 2px solid #AE2132;
	background: #5c6063;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 );
}



input[type=checkbox] {
	visibility: hidden;
	position: absolute;
}

.button-checkbox {
	position: relative;
}

.button-checkbox .checkbox {
	background-color: #fff;
	background: #fff url('http://dl.dropbox.com/u/7951544/checkbox-sprite.png') no-repeat 1px 1px;
	border: 1px solid #bbb;
	cursor: pointer;
	display: inline-block;
	pointer-events: none;
	width: 18px;
	height: 18px;
	position: relative;
	top: 7px;
	left: -125px;
	border-radius: 2px;
	box-shadow: inset 0px 1px 4px rgba(0,0,0,0.1);
}

.button {
	background-color: #f7f7f7;
	background-image: -webkit-linear-gradient(top, #fff, #f7f7f7);
	color: #555;
	content: 'hey there';
	cursor: pointer;
	border: 1px solid #bbb;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 0;
	text-align: right;
	padding: 13px 10px 13px 0;
	vertical-align: middle;
	width: 120px;
	box-shadow: inset 0 -3px rgba(0,0,0,.02), 0 1px 1px rgba(0,0,0,.10);
	border-radius: 2px;	
}

.button:before {
	content: 'Not here yet.';
}

.button:hover {
	background-image: -webkit-linear-gradient(top, #fff, #fafafa);
	border-color: #aaa;
	box-shadow: inset 0 -3px rgba(0,0,0,.02), 0 1px 4px rgba(0,0,0,.12);
}

.button:hover + .checkbox {
	background-position: 1px -15px;
	border-color: #aaa;
}

.button:active {
	outline: 0;
	box-shadow: inset 0 1px 10px rgba(0,0,0,.15) !important;
}

input[type=checkbox]:checked ~ .button {
	background-image: -webkit-linear-gradient(top, #99ca5d, #8bc347);
	border-color: #6ea62c;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,.1);
}

input[type=checkbox]:checked ~ .checkbox {
	background-position: 1px -31px;
	border-color: #6ea62c;
}

input[type=checkbox]:checked + .button:hover {
	background-color: #f7f7f7;
	background-image: -webkit-linear-gradient(top, #fff, #f7f7f7);
	border-color: #aaa;
	color: #777;
	text-shadow: none;
	box-shadow: inset 0 -3px rgba(0,0,0,.02), 0 1px 4px rgba(0,0,0,.12);
}

input[type=checkbox]:checked + .button:hover + .checkbox {
	border-color: #aaa;
}

input[type=checkbox]:checked + .button:before {
	content: 'I am Here!';
	margin-right: 8px;
}

input[type=checkbox]:checked + .button:hover:before {
	content: 'No, I lied.';
	margin-right: 10px;
}